name: kube-linter

on:
  push:
    branches:
      - main
  pull_request: {}

permissions:
  actions: read
  contents: read
  checks: write
  security-events: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: stackrox/kube-linter-action@v1
        with:
          directory: '.'
          format: sarif
          config: .kube-linter.yaml
          output-file: kube-linter.sarif
          version: 0.7.6

      - if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: kube-linter.sarif
